label {
    color: #575757;
    padding: 5px;
    text-align: right;
  }

.btnModal{
	box-shadow: 0px 3px 16px #CCCCCC29;
	background: #B786B721 0% 0% no-repeat padding-box;
	font-size: 9px;
  } 

.wow-font-size-9
{
  font-size: 9px !important;
}

.emp-btn {
  font-size: 13px;
  cursor: pointer;
}

