<div class="row">
    <div class="col-md-12 component-paddingRL content-box-mt">
        <div class="mt-5 mb-5">
            <img src="assets/images/support-call-icon.svg" alt="support">
        </div>
        <div class="mt-5 mb-4">
            <h2 style="font-size: 24px !important;">Contact our support team</h2>
            <p style="font: normal normal normal 15px/23px Poppins;letter-spacing: 0px;color: #575757;">Need more help? Get in touch now</p>
        </div>
        <div class="mb-5">
            <h3 style="margin-bottom: 15px">Call Us at (844- 969-4325)</h3>
            
            <span style="font: normal normal medium 15px/23px Poppins;
            letter-spacing: 0px;
            color: #524456;">OR</span>
            
            <h3 style="margin-top: 15px">Email Us at <span style="font-weight: 600;">info@wowhealthsolutions.com</span></h3>
        </div>
        <div class="mt-5 pt-2">
            <button style="font-size: 13px;" type="button" class="btn btnAddColor mx-auto d-block" style="padding: 12px 40px;" (click)="gotoLink()" >Contact Us</button>
        </div>
    </div>
</div>
