.plansContainer {
	background: #f5eef599 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	padding: 35px 25px 0;
}

.plansCard {
	height: 100%;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 4px #51515112;
	border-radius: 6px;
	opacity: 1;
	padding-left: 25px;
	padding-top: 35px;
	padding-right: 25px;
	padding-bottom: 17px;
}

.planTitle {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.planTitle h2 {
	font-size: 20px !important;
	margin-bottom: 0px !important;
	color: #191919 !important;
}

.planTitle span {
	font-size: 15px;
	color: #707070;
}

.product-badge {
	position: absolute;
	z-index: 1;
	left: 1px;
	top: -12px;
}

.divheight {
	height: 100%;
	margin-bottom: 35px;
}

.planDetail {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 25px;
}

.planItems {
	display: flex;
	flex-direction: row;
	align-content: space-between;
	justify-items: normal;
	justify-content: stretch;
	margin-bottom: 10px;
	align-items: inherit;
}

.planItems p {
	font: normal normal 300 12px/18px Poppins;
	letter-spacing: 0px;
	color: #191919;
	opacity: 1;
	margin-bottom: 0px !important;
	font-size: 12px !important;
	margin-left: 11px;
	/* display: contents; */
	word-break: break-word;
	/* line-height: 9px; */
	text-align: left;
}

.planItems img {
	margin-top: 4px;
}

.costDiv {
	width: 100%;
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.costLabel {
	font-weight: 500;
	font-size: 15px !important;
	color: #191919;
	/* font: normal normal normal 15px/18px Futura Bk BT; */
}

.btnDiv {
	width: 100%;
	margin-top: 25px;
}

.btnDiv a {
	width: 100%;
	padding: 11px 42px 11px 35px;
}

.membershiptTitle {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}


.membershipCardHeading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.membershipCardHeading img {
	margin-bottom: 15px;
}

.membershipCardHeading h2 {
	font-size: 20px !important;
	margin-bottom: 0px !important;
	color: #191919 !important;
}

.membershipCard {
	height: 100%;
	background: #ffffff 0% 0% no-repeat padding-box;
	box-shadow: 0px 2px 4px #51515112;
	border-radius: 6px;
	opacity: 1;
	padding-left: 25px;
	padding-top: 35px;
	padding-right: 30px;
	padding-bottom: 17px;
}

// .keywords {
// 	/* border-radius: 10px ; */
// 	width: 100% !important;
// 	min-height: 60px;
// 	height: auto;
// 	overflow: auto;
// 	border: 1px solid #ced4da;
// 	border-radius: 4px;
// 	padding: 1px;
// }

.form-control::-webkit-input-placeholder {
	color: #707070b3;
	font-size: 13px;
}

.wow-mp-sf-font-size {
	font-size: 13px !important;
}

.ng2-tag-input.ng2-tag-input--focused {
	border-bottom: none !important;
}

::ng-deep .ng2-tag-input__text-input:placeholder-shown {
	font-size: 13px;
	/* display: none !important; */
}

::ng-deep .tag-input {
	border-bottom: none !important;
}
::ng-deep .dark.ng2-tag-input {
	border-bottom: none !important;
}

::ng-deep .tag {
	border-radius: none !important;
}

.tag {
	border-radius: none !important;
}
