<div class=" layout-blank content-box-mt">

    <div class="row">
        <div class="col-12 p-0">
            <div class="wow-dh-wrapper ">
                <div class="wow-dh-left-parent text-left">
                    <div class="wow-dh-left-heading ">
                        <h3 class="mb-0">
                            <span (click)="onGoBack()" style="cursor: pointer" class="mr-2">
                                <img src="assets/images/details-back-btn.svg" height="12px">
                            </span>
                            {{this.selectedPolicy.name}}
                        </h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <wow-tabs-group (selectedTabChange)="onSelectedTabChange($event)" [showConfirmPopup]="true">
                <wow-tab-item tabTitle="Roles">
                    <ng-container *ngIf="selectedTabIndex === 0">
                        <wow-config-roles class="w-100" [selectedPolicy]="selectedPolicy"></wow-config-roles>
                    </ng-container>
                </wow-tab-item>

                <!-- 2nd Tab start -->
                <wow-tab-item tabTitle="Resources">
                    <ng-container *ngIf="selectedTabIndex === 1 ">
                        <wow-config-resources class="w-100" [selectedPolicy]="selectedPolicy"></wow-config-resources>
                    </ng-container>
                </wow-tab-item>
                <!-- 2nd Tab end -->
            </wow-tabs-group>
        </div>
    </div>

</div>