<div class="">
    <div class="row margnTblTop mt-0">
        <div class="col-md-6 pl-0" style="text-align: left;">
            <h2 class="pb-3">New Employees</h2>
        </div>
        <div *ngIf="data.length > 0" class="col-md-6 pr-0">
            <div class="text-right float-right">
                <button type="button" (click)="onSubmit(true)" style="padding: 10px 18px" 
                    class="btn btnAddColor mr-2">
                    <i class="fa fa-check mr-2"></i>Approve
                </button>
                <button style="padding: 9px 18px" (click)="onSubmit(false)" class="btn btnReject">
                    <i class="fa fa-times mr-2"></i> Decline
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive table-border-radius">
            <wow-table 
                [config]="newEmpConfig" 
                [actions]="action" 
                (signals)="onTableSignals($event)">

                <ng-template dataTableCell="sideBorder" 
                    let-row="row" let-col="col">
                    <div class="tblcolorDivRed" 
                        [style.background]="borderColor(row)"></div>
                </ng-template>

            </wow-table>
        </div>
    </div>
</div>