<div class="row" style="height: 100%; position: relative;">

    <div class="service-sub-menu p-0" [ngClass]="{'col-md-3': !removecss, 'col-auto': removecss}">

        <wow-sub-menu 
			[config]="subMenuConfig" 
			[showPopUp]="true"
			(signal)="OnHandleMenu($event)">
        </wow-sub-menu>
    </div>

    <div [ngClass]="{'col-md-9':!removecss,'col-md-12':removecss}"
        class="layout-blank component-paddingRL content-box-mt">
        
        <ng-container [ngSwitch]="activeState">
			<ng-container *ngSwitchCase="'TABLE'">
				<wow-view-employee
					[groupId]="selectedMenu?.id"
					(signals)="onHandleSignals($event)"></wow-view-employee>
			</ng-container>

			<ng-container *ngSwitchCase="'SINGLE'">
				<wow-add-single-employee
					[groupId]="selectedMenu?.id"
					(signals)="onGoBack($event)"></wow-add-single-employee>
			</ng-container>

            <ng-container *ngSwitchCase="'MULTIPLE'">
				<wow-add-multiple-employees
					[groupId]="selectedMenu?.id"
					(signals)="onGoBack($event)"></wow-add-multiple-employees>
			</ng-container>
	
			<ng-container *ngSwitchCase="'DETAIL'">
				<wow-view-employee-detail
					[employeeId]="selectedEmp?.employeeId"
					(signals)="onGoBack($event)"></wow-view-employee-detail>
			</ng-container>
		</ng-container>

    </div>
</div>
