<div class=" layout-blank component-paddingRL content-box-mt">

    <div class="row ">
        <div class="col-12 p-0">
            <div class="wow-dh-wrapper ">
                <div class="wow-dh-left-parent text-left">
                    <div class="wow-dh-left-heading ">
                        <h2>
                            <span (click)="onGoBack()" style="cursor: pointer" class="pr-2">
                                <img src="assets/images/details-back-btn.svg" height="12px">
                            </span>
                            {{selectedSpeciality.name}}
                        </h2>
                    </div>
                </div>
                <div class="wow-dh-right-parent">
                    <div class="wow-dh-action-btns-wrapper">
                        <div class="wow-dh-action-btn">
                            <button type="button" class="btn mr-2 custom-danger-btn" (click)="alertDeleteSpec()">
                                <img src="assets/images/ic_delete_24px.svg" alt="">

                            </button>
                        </div>
                        <div class="wow-dh-action-btn">
                            <button type="button" class="btn btn-space btn-properties-white mr-2"
                                (click)="onGoBack()">Cancel</button>
                        </div>
                        <div class="wow-dh-action-btn">
                            <button type="button" class="btn btn-properties-gray" [disabled]="isFormDisabled"
                                [ngClass]="isFormDisabled ? 'btn-properties-gray' : 'btnAddColor'"
                                (click)="onSubmit()">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-12 p-0">
            <wow-tabs-group (selectedTabChange)="onSelectedTabChange($event)" [showConfirmPopup]="true">
                <wow-tab-item tabTitle="Details">
                    <ng-container *ngIf="selectedTabIndex === 0">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="wow-adg-content">
                                    <wow-speciality-details [action]="action" (signals)="onHandleSignals($event)"
                                    [selectedSpeciality]="selectedSpeciality">
                                    </wow-speciality-details>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </wow-tab-item>
            </wow-tabs-group>
        </div>
    </div>
</div>
