<ng-container [ngSwitch]="activeState">
	<div class="container col-12 float-left component-paddingRL content-box-mt" 
		style="min-width: 100% !important;" *ngSwitchCase="'TABLE'">

		<div class="row">
			<div class="col-lg-8 col-md-10 col-sm-12 text-left p-0"> <h3>Locations</h3> </div>
			<div class="col-lg-4 col-md-2  col-sm-12 text-align-l text-right mt-1 p-0">
				<a class="btn btn-icon-properties btnAddColor" (click)="addLocation()"><img style="height: 22px;"
						src="assets/images/shared-new-theme/addicon.svg"> Add Location</a>
			</div>
		</div> <br> <br>

		<div class="row" style="width: 100%;">
				
			<wow-table style="width: 100%;"
				[config]="config" 
				[actions]="action"
				(signals)="onTableSignals($event)">

				<ng-template dataTableCell="image" 
					let-row="row" let-col="col">
					<div class="imgsize">
						<img class="imgsize responsive-image rounded-circle"
							src="assets/images/business-setup/business_location_listing.svg">
					</div>
				</ng-template>

				<ng-template dataTableCell="locationName" 
					let-row="row" let-col="col">
					<span [title]="row?.locationName">{{(row?.locationName?.length > 15) ? 
						(row?.locationName | slice : 0:15) + '..': (row.locationName)}}</span>
				</ng-template>

				<ng-template dataTableCell="address" 
					let-row="row" let-col="col">
					<span [title]="row?.address">{{(row?.address?.length > 15) ? 
						(row?.address | slice : 0:15) + '..' : (row.address)}}</span>
				</ng-template>

				<ng-template dataTableCell="locationContactNumber" 
					let-row="row" let-col="col" let-i="index">
					<span class="col-width">
						{{row?.locationContactNumber | mask: maskedFormat }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

						<i [ngStyle]="{'visibility': isDisplay && index === i ? 'visible' : 'hidden'}"
							class="fa fa-angle-right ml-2"
							style="font-size:16px;font-weight: bold;">
						</i>
					</span>
				</ng-template>

			</wow-table>
		</div>
	</div>

	<div id="comp-render" *ngSwitchCase="'ADD'">
		<div class="container col-md-12 float-left"
			style="min-width: 100% !important;padding: 0px;">
			<wow-add-locations (previousPage)="nextPage($event)"></wow-add-locations>
		</div>
	</div>

	<div id="comp-render" *ngSwitchCase="'DETAIL'">
		<div class="container col-md-10 float-left " style="min-width: 100% !important;padding: 0px;">
			<wow-update-locations [location]="locationPayload" (previousPage)="nextPage($event)">
			</wow-update-locations>
		</div>
	</div>
</ng-container>