<div class="container col-9 float-left content-box-mt component-paddingRL" style="min-width: 100% !important;">
    <form name="from" [formGroup]="form" autocomplete="off">
        <div class="row">
            <div class="col col-sm-12 col-md-7 text-left p-0">
                <h3>Add Service</h3>
                <div class="subheading">Add service and assign category
                </div>
            </div>
            <div class="col col-sm-12 col-md-5 text-align-l text-right mt-2 p-0">
                <button type="button" class="btn addbtn-size btnDownloadColor btn-properties-white mr-2"
                    (click)="onGoBack()">Cancel</button>
                <button type="button" class="btn addbtn-size btn-properties-gray" (click)="submitForm()"
                    [ngClass]="!form.dirty ? 'btn-properties-gray': 'btnAddColor'"
                    [disabled]="!form.dirty ">Save</button>
            </div>
        </div>
        <hr />
        <div class="col-6 float-left p-0">
            <div class="row inputLabelText ml-5">
                <div class="col-10 p-0">

                    <div class="">
                        <div class="form-group form-row mr-0 ml-0">
                            <div class="col-md-10 col-sm-12 p-0">
                                <label class="float-left">Service Name</label>
                                <input type="text" class="form-control" formControlName="name"
                                    placeholder="Service Name" [ngClass]="{ 'is-invalid': isControlValid('name', 'required') ||
                                isControlValid('name', 'maxlength')}" maxlength="45" required>
                                <div *ngIf="isControlValid('name', 'required') || isControlValid('name', 'maxlength')"
                                    class="invalid-feedback">
                                    <div><i class="fa fa-info-circle fa-errorIcon" aria-hidden="true" [tooltip]="form.controls.name.errors.required ? 
                                            'Service Name is required' : 'Name can contain upto 45 characters only'">
                                        </i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-10 text-left inputMarginBot10 p-0">
                            <label>Related Keywords <span style="font-size: 10px; color: #575757;">(Type keywords and
                                    press Enter)</span>
                                <img class="imgCustom ml-3 infoIcon tooltipIconSize tooltipstylePurple"
                                    src="assets/images/shared-new-theme/tooltipIcon.svg"
                                    tooltip="Keywords help your patients to find you more easily">
                            </label>
                            <br>
                            <h4>
                                <div class="badge badge-primary customBadge mr-2 mb-2"
                                    *ngFor="let item of keywords; let i=index">
                                    {{item}}
                                </div>
                            </h4>
                            <div class="keywords form-control">
                                <tag-input class="tags m-2" placeholder="Add keywords" [theme]="'dark'"
                                    formControlName="keywords" (onRemove)="onItemRemoved($event)"
                                    (onAdd)="onItemAdded($event)" [modelAsStrings]="true" [editable]="true">
                                </tag-input>
                            </div>
                        </div>

                        <div class="form-group form-row mr-0 ml-0 w-100">
                            <div class="col-md-10 col-sm-12 p-0">
                                <label class="float-left">Select Category</label>
                                <select class="form-control" required formControlName="categoryName"
                                    [ngClass]="{'is-invalid':isControlValid('categoryName', 'required')}">
                                    <option [ngValue]="null" disabled [selected]="true">Select</option>
                                    <option *ngFor="let category of serviceCategories" [ngValue]="category.name">
                                        {{category.name}}</option>
                                    <div *ngIf="isControlValid('categoryName', 'required')" class="invalid-feedback">
                                        <div>
                                            <i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
                                                tooltip="Category  is required.">
                                            </i>
                                        </div>
                                    </div>
                                </select>
                            </div>

                        </div>
                        <div class="form-group form-row mr-0 ml-0">
                            <div class="col-md-10 col-sm-12 p-0">
                                <label class="float-left">Description</label>
                                <textarea class="form-control" type="text" rows="4" formControlName="description"
                                    placeholder="Service description">
                                </textarea>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>