.margnTblTop{
    align-items: center;

    .wow-stats-df-wrapper {
        padding: 1rem 0;
        display: flex;
        justify-content: center;

        input {
          text-align: center;
          width: 70%;
        }
    }
}

.text-overflow-20ch {
    width: 16ch;
}

.anchor-tab:hover {
    color: #524456 !important;
    text-decoration: underline !important;
}


@media (min-width: 400px) and (max-width: 786px) {
    .wow-stats-df-wrapper {
      padding: 1rem 0 !important;

      input {
        text-align: center;
        width: 100%;
      }
    }
}