<div class="container">
	<div class="row">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
			<div class="card shadow p-3 mb-5 mt-5">
				<ng-container *ngIf="firstPage">
					<div class="card-body">

						<i class="fas fa-arrow-left" (click)="goBack('Home/Login')"
							style="font-size: 20px; cursor: pointer;"></i>

						<div class="text-center">
							<img class="logoimg center-block" height="82px" width="71px"
								src="assets/images/forgot_password_icon.svg">
							<h2 class="card-title mt-2 pt-2 signup-login-heading">Forgot Password</h2>
						</div>
						<!-- If user comes from email input screen -->
						<ng-container *ngIf="incommingFromemailPage">

							<p class="inputLabelText pt-2">Enter the email address associated with this account and
								we'll send you a link to reset your password</p>
							<form name="from" #f="ngForm" (ngSubmit)="f.form.valid && onNextBtnclick()"
								autocomplete="off" class="formText">
								<div class="form-group">
									<label for="exampleInputEmail1">Email</label>
									<input type="email" class="form-control" autocomplete="off" id="exampleInputEmail1"
										aria-describedby="emailHelp" required [(ngModel)]="useremail" maxlength="50"
										name="username" #username="ngModel" placeholder="mail@example.com"
										[ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
										pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
									<div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
										<div *ngIf="username.errors.required"><i class="fa fa-info-circle fa-errorIcon"
												aria-hidden="true" tooltip="Email is required.">
											</i>
										</div>
										<div *ngIf="username.errors.pattern"><i class="fa fa-info-circle fa-errorIcon"
												aria-hidden="true" tooltip="Email is invalid.">
											</i>
										</div>
									</div>
								</div>
								<button type="submit"
									class="btn btn-primary btn-properties btnAddColor mx-auto d-block mt-5">Continue</button>
							</form>
							<p class="headingColor mt-5 text-center">
								Don't have an account? <b><a routerLink="../signup" class="forgotLink">Sign
										Up</a></b>
							</p>
						</ng-container>

						<!-- If user comes from password input screen -->

						<!-- <ng-container *ngIf="!incommingFromemailPage">
							<p class="inputLabelText">We will send a password reset link to the email below.</p>
							<div class="text-center">
								<img class="logoimg" src="assets/images/login/business_light_icon.svg"
									(click)="changeEmployerImage()">
							</div>
							<form name="from" class="formText" #f="ngForm" (ngSubmit)="f.form.valid && onNextBtnclick()"
								autocomplete="off">
								<div class="form-group">
									<label for="exampleInputEmail1">Email</label>
									<input type="email" class="form-control" autocomplete="off" id="exampleInputEmail1"
										aria-describedby="emailHelp" required [(ngModel)]="useremail" maxlength="50"
										name="username" #username="ngModel"
										[readOnly]="userMetaData.page === 'password'" placeholder="mail@example.com"
										[ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
										pattern="^(\s*[0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9}\s*)$">
									<div *ngIf="f.submitted && username.invalid" class="invalid-feedback">
										<div *ngIf="username.errors.required"><i class="fa fa-info-circle fa-errorIcon"
												aria-hidden="true" tooltip="Email is required.">
											</i>
										</div>
										<div *ngIf="username.errors.pattern"><i class="fa fa-info-circle fa-errorIcon"
												aria-hidden="true" tooltip="Email is invalid.">
											</i>
										</div>
									</div>
								</div>
								<button type="submit"
									class="btn btn-primary btn-properties btnAddColor mx-auto d-block mt-5">Send
									Link</button>
							</form>
						</ng-container> -->
					</div>
				</ng-container>


				<ng-container *ngIf="confirmAccountPage">
					<div class="card-body">
						<i class="fas fa-arrow-left" (click)="goBack('Home/Login')"
							style="font-size: 20px; cursor: pointer;"></i>

						<div class="text-center">
							<h2 class="card-title mt-3 mb-4 signup-login-heading">Confirm Account</h2>
						</div>
						<p class="inputLabelText mb-5">Hi, We have found multiple accounts with your email
							{{useremail}}.
							Select the account you want to reset password for.</p>

						<!-- Select Actor Icons -->
						<div style="margin-bottom: 70px;" class="ml-3">

							<ng-container *ngFor="let item of user?.userActorsDetail">

								<ng-container *ngIf="!isPatient(item)">

									<img class="logoimg mx-3" [src]="previewImage(item)"
										(click)="onSelectActor(item)">
								</ng-container>

							</ng-container>
	
							<div class="alert alert-danger" *ngIf="!isActorTypeSelected">
								Please select the account type.
							</div>

							<!-- <ng-container *ngFor="let item of userroles?.userRoles">
								<ng-container *ngIf="toggleEmployerImage && item === 'PROVIDER_ADMIN'">
									<img class="logoimg mx-3" src="assets/images/login/business_light_icon.svg"
										(click)="changeEmployerImage()">
								</ng-container>
								<ng-container *ngIf="!toggleEmployerImage && item === 'PROVIDER_ADMIN'">
									<img class="logoimg mx-3" src="assets/images/login/business_dark_icon.svg"
										(click)="changeEmployerImage()">
								</ng-container>

								<ng-container *ngIf="toggleDoctorImage && item === 'Employer_ADMIN'">
									<img class="logoimg mx-3" src="assets/images/login/doctor_light_icon.svg"
										(click)="changeDoctorImage()">
								</ng-container>
								<ng-container *ngIf="!toggleDoctorImage && item === 'Employer_ADMIN'">
									<img class="logoimg mx-3" src="assets/images/login/doctor_dark_icon.svg"
										(click)="changeDoctorImage()">
								</ng-container>

								<ng-container *ngIf="toggleAdvocateImage && item === 'Employer_ADMIN'">
									<img class="logoimg mx-3" src="assets/images/login/advocate_light_icon.svg"
										(click)="changeAdvocateImage()">
								</ng-container>
								<ng-container *ngIf="!toggleAdvocateImage && item === 'Employer_ADMIN'">
									<img class="logoimg mx-3" src="assets/images/login/advocate_dark_icon.svg"
										(click)="changeAdvocateImage()">
								</ng-container>
							</ng-container> -->

							<!--              <ng-container *ngIf="toggleEmployerImage">-->
							<!--                <img class="logoimg mx-3" src="assets/images/login/employer_light_icon.svg"-->
							<!--                  (click)="changeEmployerImage()">-->
							<!--              </ng-container>-->
							<!--              <ng-container *ngIf="!toggleEmployerImage">-->
							<!--                <img class="logoimg mx-3" src="assets/images/login/employer_dark_icon.svg"-->
							<!--                  (click)="changeEmployerImage()">-->
							<!--              </ng-container>-->
							<!--              <ng-container *ngIf="toggleDoctorImage">-->
							<!--                <img class="logoimg mx-3" src="assets/images/login/doctor_light_icon.svg" (click)="changeDoctorImage()">-->
							<!--              </ng-container>-->
							<!--              <ng-container *ngIf="!toggleDoctorImage">-->
							<!--                <img class="logoimg mx-3" src="assets/images/login/doctor_dark_icon.svg" (click)="changeDoctorImage()">-->
							<!--              </ng-container>-->
							<!--              <ng-container *ngIf="toggleAdvocateImage">-->
							<!--                <img class="logoimg mx-3" src="assets/images/login/advocate_light_icon.svg"-->
							<!--                  (click)="changeAdvocateImage()">-->
							<!--              </ng-container>-->
							<!--              <ng-container *ngIf="!toggleAdvocateImage">-->
							<!--                <img class="logoimg mx-3" src="assets/images/login/advocate_dark_icon.svg"-->
							<!--                  (click)="changeAdvocateImage()">-->
							<!--              </ng-container>-->
						</div>
						<button type="button" class="btn btn-primary btn-properties btnAddColor mx-auto d-block mt-5"
							(click)="sendEmailLink()">Send Link</button>
					</div>
				</ng-container>

				<ng-container *ngIf="checkEmail">
					<div class="card-body">
						<i class="fas fa-arrow-left" (click)="goBack('Home/Login')"
							style="font-size: 20px; cursor: pointer;"></i>

						<div class="text-center">
							<img class="logoimg" src="assets/images/login/check_email_icon.svg">
							<h2 class="card-title mt-3 mb-4 signup-login-heading">Check Mail</h2>
						</div>
						<p class="inputLabelText mb-5">We sent an email to <b
								style="font-weight: 600;">{{useremail}}</b>, click the link to reset your password.
						</p>
						<div class="text-center">
							<img class="logoimg mb-5" [src]="img">
							<!-- <img class="logoimg mb-5" src="assets/images/login/business_light_icon.svg"> -->
							<p class="headingColor">Haven't received the email?</p>
						</div>
						<button type="submit" style="padding: 8px 45px" class="btn btnAddColor mx-auto d-block mt-1"
							(click)="resendForgotPasswordLink()">Resend Link</button>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>