.card {
  width: 404px;
}
.center {
    display: block;
    margin: 0 auto;
    /* width: 50%; */
    width: 129px;
    height: 152px;
  }
  

.customBtn
{
  border-radius: 7px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 25px;
  padding-left: 25px;
  font-size: 13px;
}
.linkTextStyle
{
  font-size: 13px;
  font-weight: 500;
  color: #575757;
}