.form-control:disabled,
.form-control[readonly] {
    background-color: #faf9f9;
    opacity: 1;
    outline: none !important;
    border-color: transparent;
    border: none !important;
}
.package-image-parent{
    position: relative;

    .product-badge{
        position: absolute;
        top: -7%;
        right: 44px;
        z-index: 1  ;
    }
   
}
