<div class="container float-left col-12" style="padding:0 !important; height: 100%;">
    <ng-container *ngIf="activeState === 'TABLE'">
        <div class="col-md-12 layout-blank component-paddingRL">
            <div class="content-box-mt">
                <wow-table class="w-100" [config]="config" [actions]="action" (signals)="onTableSignals($event)">
                    <ng-template dataTableCell="image" let-row="row" let-col="col">
                        <div class="imgsize">
                            <img class="imgsize responsive-image rounded-circle" src="assets/images/insurance.png"
                                width="36px" height="36px" onError="this.src='assets/images/profile_icon.svg'"
                                alt="">
                        </div>
                    </ng-template>

                    <ng-template dataTableCell="name" let-row="row" let-col="col">
                        <p class="m-0 text-overflow-20ch wow-clients-cellwidth" [title]="row?.name">
                            {{row?.txtName}}
                        </p>
                    </ng-template>

                    <ng-template dataTableCell="company" let-row="row" let-col="col">
                        <p class="m-0 text-overflow text-overflow-20ch" [title]="row?.company">
                            {{row?.txtCompany}}
                        </p>
                    </ng-template>
                    <ng-template dataTableCell="status" let-row="row" let-col="col" let-i="index">
                        <span class="col-width">
                            {{row?.blnActive ? 'Active': 'Inactive'}}
                        </span>
                    </ng-template>
                </wow-table>
            </div>
        </div>

    </ng-container>
    <ng-container *ngIf="this.activeState === 'ADD' ">
        <wow-add-health-insurance (signals)="onHandleSignals($event)"> </wow-add-health-insurance>
    </ng-container>

    <ng-container *ngIf="this.activeState === 'DETAIL' ">
        <wow-view-health-insurance [selectedInsurance]="selectedInsurance" (signals)="onHandleSignals($event)"> </wow-view-health-insurance>
    </ng-container>
</div>