<ng-container [ngSwitch]="activeState">
    <div class="container col-12 float-left content-box-mt px-0" style="min-width: 100% !important;"
        *ngSwitchCase="'TABLE'">

        <div class="row">
            <h2>All Payments <span *ngIf="totalItems > 0">({{totalItems}})</span></h2>
        </div>
        <div class="row margnTblTop">
            <div class="col-md-4 p-0">
                <search-control palceHolder="Wow ID" (signal)="onSearchValueChange($event)" [maskFormat]="'0000-0000-0000'">
                </search-control>
            </div>
            <div class="col-md-8 p-0">
                <div class="text-right float-right">
                    <a class="btn btn-size btnAddColor" (click)="addCoupon()">
                        <img style="height: 22px;" src="assets/images/shared-new-theme/addicon.svg">
                        Add Credit
                    </a>
                </div>
            </div>
        </div>

        <div class="row" style="width: 100%;">
            <wow-table style="width: 100%;" [config]="config" [actions]="action" (signals)="onTableSignals($event)">

                <!-- <ng-container customNoRecTempRef>
                <div class="row p-5">
                    <div class="col-md-12">
                        <img src="assets/images/coupondetail/couponIcon.svg" class="image-pointer pb-4" alt="Null">
                        <h2>Add a coupon</h2>
                        <p style="font-size: 14px; color: #575757;" class="pt-2">You have no active coupon listed
                        </p>
                    </div>
                </div>
            </ng-container> -->

                <ng-template dataTableCell="name" let-row="row" let-col="col">
                    <span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'" class="m-0 text-overflow"
                        [title]="row?.name">
                        {{row?.name}}
                    </span>
                </ng-template>

                <ng-template dataTableCell="wowID" let-row="row" let-col="col">
                    <span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'" class="m-0 text-overflow"
                        [title]="row?.wowid">
                        {{row?.wowid}}
                    </span>
                </ng-template>

                <ng-template dataTableCell="timeAndDate" let-row="row" let-col="col">
                    <span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'" class="m-0 text-overflow"
                        [title]="row?.date">
                        {{row?.date}}
                    </span>
                </ng-template>

                <ng-template dataTableCell="amount" let-row="row" let-col="col">
                    <span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'" class="m-0 text-overflow"
                        [title]="row?.amount">
                        {{row?.amount}}
                    </span>
                </ng-template>

                <ng-template dataTableCell="receipt" let-row="row" let-col="col" let-i="index">
                    <span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'"
                        class="m-0 text-overflow cursor-pointer">
                        <i class="fas fa-link pr-2"></i> <a id="downloadLink">view</a>{{row?.receipt}}
                    </span>
                </ng-template>

            </wow-table>

        </div>
    </div>

    <div id="comp-render" *ngSwitchCase="'ADD'">
        <div class="container col-md-12 float-left" style="min-width: 100% !important;padding: 0px;">
            <wow-add-credit (signal)="onGoBack($event)"></wow-add-credit>
        </div>
    </div>

</ng-container>