<ng-container [ngSwitch]="activeState">
    <div class="container col-12 float-left component-paddingRL content-box-mt" style="min-width: 100% !important;"
        *ngSwitchCase="'TABLE'">

        <div class="row">
            <h2>All Coupons <span *ngIf="totalItems > 0">({{totalItems}})</span></h2>
        </div>
        <div class="row margnTblTop">
            <div class="col-md-4 p-0">
                <search-control palceHolder="Search Code OR Title" (signal)="onSearchValueChange($event)">
                </search-control>
            </div>
            <div class="col-md-8 p-0">
                <div class="text-right float-right">
                    <select name="" id="" class="tbldropdown mr-2" (change)="onChangeStatusFilter($event.target.value)">
                        <option value="All">All</option>
                        <option value="ACTIVE">Active</option>
                        <option value="IN_ACTIVE">Inactive</option>
                    </select>
                    <a class="btn btn-size btnAddColor" (click)="addCoupon()"><img style="height: 22px;"
                            src="assets/images/shared-new-theme/addicon.svg">Add Coupon</a>

                </div>
            </div>
        </div>

        <div class="row" style="width: 100%;">
            <wow-table style="width: 100%;" [config]="config" [actions]="action" (signals)="onTableSignals($event)">

                <!-- <ng-container customNoRecTempRef>
                <div class="row p-5">
                    <div class="col-md-12">
                        <img src="assets/images/coupondetail/couponIcon.svg" class="image-pointer pb-4" alt="Null">
                        <h2>Add a coupon</h2>
                        <p style="font-size: 14px; color: #575757;" class="pt-2">You have no active coupon listed
                        </p>
                    </div>
                </div>
            </ng-container> -->

                <ng-template dataTableCell="image" let-row="row" let-col="col">
                    <img class="imgsize responsive-image rounded-circle" src="assets/images/couponIcon.svg"
                        onError="this.src='assets/images/couponIcon.svg'">
                </ng-template>

                <ng-template dataTableCell="couponName" let-row="row" let-col="col">
                    <span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'" class="m-0 text-overflow"
                        [title]="row?.couponName">
                        {{row?.couponName}}
                    </span>
                </ng-template>

                <ng-template dataTableCell="couponCode" let-row="row" let-col="col">
                    <span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'" class="m-0 text-overflow"
                        [title]="row?.couponCode">
                        {{row?.couponCode}}
                    </span>
                </ng-template>

				<ng-template dataTableCell="couponDiscount" let-row="row" let-col="col">
					<span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'"
						class="m-0 text-overflow" [title]="row?.couponDiscount">
						{{row?.couponDiscount}}
					</span>
				</ng-template>

                <ng-template dataTableCell="expiryDate" let-row="row" let-col="col">
                    <span [ngClass]="isExpanded ? 'text-overflow-30ch' : 'text-overflow-20ch'" class="m-0 text-overflow"
                        [title]="row?.expiryDate">
                        {{row?.expiryDate}}
                    </span>
                </ng-template>

                <ng-template dataTableCell="couponStatus" let-row="row" let-col="col" let-i="index">
                    <span>
                        {{row?.couponStatus ? 'Active': 'Inactive'}}

                        <i [ngStyle]="{'visibility': isDisplay && index === i ? 'visible' : 'hidden'}"
                            class="fa fa-angle-right ml-2" style="font-size:16px;font-weight: bold;">
                        </i>
                    </span>
                </ng-template>

            </wow-table>

        </div>
    </div>

    <div id="comp-render" *ngSwitchCase="'ADD'">
        <div class="container col-md-12 float-left" style="min-width: 100% !important;padding: 0px;">
            <wow-add-coupon (previousPage)="onGoBack($event)"></wow-add-coupon>
        </div>
    </div>

    <div id="comp-render" *ngSwitchCase="'DETAIL'">
        <div class="container col-md-10 float-left " style="min-width: 100% !important;padding: 0px;">

            <wow-view-coupon-details (signals)="handleSignals($event)" [selectedCoupon]="selectedCoupon">
            </wow-view-coupon-details>
        </div>
    </div>
</ng-container>