<div class = 'mpheight'>  
	<div style="width: 40% !important;" class = 'd-flex actions1 addressStyle'>
		<div >
			<strong>{{customerLocData.address}}</strong>
		</div>
	</div>

	<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.min.js'></script>
	<link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css' type='text/css' />
	<div id ="testmap"></div>
	<pre id='coordinates' class='coordinates'></pre>
</div>
<div class = 'd-flex actions justify-content-center' style="padding: 10px;"></div>