<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle"><strong>Terms and Conditions</strong></h5>
    <button type="button" class="btn" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"><i class="fa fa-times"></i></span>
    </button>
</div>

<div class="modal-body">
    <div class="modal-body termsconditionpopup">
        <div class="terms-condition">
            <ol class="terms-list">
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">You are joining a voluntary, non-insurance offering by a service provider other than WoW Health with a monthly membership fee. If you have selected Zion Health, your monthly membership fee enrolls you into Zion Health’s Medical Cost Sharing community and other service vendors for Telehealth, Pharmacy, and Dental benefits. WoW Health will charge an aggregate membership fee and then disburse funds appropriately to each service provider on your behalf.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">WoW Health will charge your credit card on the 15th of every month for next month’s membership renewal with the various service providers. If you wish to cancel your membership with WoW Health and any additional service provider you have selected, you must contact WoW Health customer support before the 15th of the month to avoid being charged for the next month’s membership.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">You can access your Telemedicine, Pharmacy, Dental, and other routine care programs from your WoW Health mobile App.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">Telemedicine services extend you discounted rates for your virtual urgent care and Teletherapy appointments. These discounts are automatically applied at the time of encounter.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">Pharmacy services is a discount program. You will pay the pharmacy the discounted medication price when you pick up your medication.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">The Dental program provides you discounted rates for dental services. You will pay the dental office at the time of service. Please ensure that the dental office knows that you will be using your dental discount program when you make the appointment to avoid any confusion at the time of service.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">
                        The Vision Care program provides you discounted rates for vision related services. Show your card to the Vision Care center to get the discounted pricing.
                    </p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">
                        For Diamond package members, your preventive services are offered through your membership with Zion Health. Here are the
                        <a href="https://zionhealth.org/wp-content/uploads/handouts/PreventiveMedicalSharing.pdf">guidelines for preventive services</a>.
                    </p>
                </li>
<!--                <li class="terms-list-li">-->
<!--                    <p class="terms-condition-paragraph">For Platinum plan members, you can utilize your in-person visit with any provider of your choice. If the provider is not available through WoW Health, you will have to pay the provider and then submit a receipt to WoW Health customer support for reimbursement. Reimbursement is limited to the number of encounters per membership year, as listed in the Plan that you have selected. The number of encounters is per membership account, and in case of family enrollments, are shared between family members. The number of encounters are not per enrolled family members.</p>-->

<!--                    <ol class="terms-list">-->
<!--                        <li class="terms-list-li item-list-padding">-->
<!--                            <p class="terms-condition-paragraph">You will be reimbursed up to $160 via check OR</p>-->
<!--                        </li>-->
<!--                        <li class="terms-list-li">-->
<!--                            <p class="terms-condition-paragraph">You may elect to take 125% of the reimbursement value, up-->
<!--                                to a maximum of $200, in WoW credit that will be added to your WoW wallet. These funds can be used for any future expenses in the WoW Health platform. There will be no refund of an unused credit if your WoW Health service ends.</p>-->
<!--                        </li>-->
<!--                        <li class="terms-list-li">-->
<!--                            <p class="terms-condition-paragraph">If you cancel your Plan membership before the end of your membership year, any utilized in-person appointments will be charged to your account at $150 per utilized appointment.</p>-->
<!--                        </li>-->
<!--                    </ol>-->
<!--                </li>-->
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">WoW Health will share your demographic information with other service vendors for enrollment in their respective programs.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">Your membership effective dates with WoW Health and other service providers are in your welcome email.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">If you have enrolled with Zion Health, you acknowledge that you have read and agree to Zion Health’s principles of membership:</p>
                    <p class="terms-condition-paragraph">PRINCIPLES OF MEMBERSHIP</p>
                    <p class="terms-condition-paragraph">Each member of Zion Health must comply with the following requirements to maintain membership with Zion Health and remain eligible to participate in the medical cost sharing program. Adherence to the Zion Health Principles of Membership minimizes medical risks, encourages good health practices, and ensures member integrity and accountability.</p>
                    All Zion Health members must attest to the following statements:
                    <ol class="terms-list">
                        <li class="terms-list-li">
                            <p class="terms-condition-paragraph">I believe that a community of ethical, health-conscious people can most effectively care for one another by directly sharing the costs associated with each other’s health care needs. I acknowledge that Zion Health affiliates itself with, and considers itself accountable to, a higher power. I recognize that Zion Health welcomes members of all faiths.</p>
                        </li>
                        <li class="terms-list-li">
                            <p class="terms-condition-paragraph">I understand that Zion Health is a benevolent organization, not an insurance entity, and that Zion Health cannot guarantee payment of medical expenses.</p>
                        </li>
                        <li class="terms-list-li">
                            <p class="terms-condition-paragraph">I agree to practice good health measures and strive for a balanced lifestyle. I agree to abstain from the use of any illicit or illegal drugs and refrain from excessive alcohol consumption, acts which are harmful to the body. I understand that members who use tobacco will have an increased monthly contribution (per household) of fifty dollars.</p>
                        </li>
                        <li class="terms-list-li">
                            <p class="terms-condition-paragraph">I am obligated to care for my family. I believe that mental, physical, emotional, or other abuse of a family member, or any other person, is morally wrong. I commit to treating my family and others with care and respect at all times.</p>
                        </li>
                        <li class="terms-list-li">
                            <p class="terms-condition-paragraph">I agree to submit to mediation followed by subsequent binding arbitration, if needed, for any instance of a dispute with Zion Health or its affiliates.</p>
                        </li>
                        <li class="terms-list-li item-list-padding">
                            <p class="terms-condition-paragraph"><a href="https://zionhealth.org/wp-content/uploads/handouts/MemberGuidelines.pdf" target="_blank" rel="noopener">Zion Health’s Membership Guide </a>is available on WoW Health’s website.</p>
                        </li>
                    </ol>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">Each voluntary, non-insurance offering by a service provider other than WoW Health is responsible for the terms and conditions of its membership. Questions should be directed to that service provider. If enrolled with Zion Health, you will need to contact Zion Health at (888) 920-9466 for any questions related to your Medical Cost Sharing Membership.</p>
                </li>
                <li class="terms-list-li">
                    <p class="terms-condition-paragraph">WoW Health may amend or supersede the Terms and Conditions at any time, effective upon posting on its website.</p>
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>
