<div class="container">
	<div class="row">
		<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3">
			<div class="card shadow p-3 mb-5 mt-4">
				<ng-container *ngIf="resetPassword === 'firstPage'">
					<div class=" card-body">
						<h2 class="ml-3 mt-4 mb-3 signup-login-heading">
							{{createPassword ? 'Set' : 'Reset'}} Password
						</h2>

						<div class="text-center mt-2 mb-3">
							<img class="logoimg" [src]="icon">
						</div>

						<p *ngIf="!createPassword" class="inputLabelText">Go for a strong password that must be at least 8 characters long, and
							combination of letters and numbers.</p>

						<form name="from" (ngSubmit)="f.form.valid && onSetPassword()" #f="ngForm" autocomplete="off"
							class="formText mt-3">
							<div class="form-group">

								<ng-container *ngIf="createPassword">
									<label for="exampleInputEmail1">Email (this can't be changed)</label>
									<input disabled type="email" class="form-control mb-2" placeholder="Email"
										name="email" [(ngModel)]="formData.userName">
								</ng-container>

								<label for="exampleInputEmail1">New Password</label>
								<input [type]="showit ? 'text' : 'password'" class="mb-1 form-control" required
									name="password" [(ngModel)]="formData.password" placeholder="*******"
									#password="ngModel" (input)="matchstrings()" minlength="8" maxlength="50" id="exampleInputPassword1"
									autocomplete="new-password"
									[ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
									pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[\w~@#$%^&*+=`|{}:;!.?\"()\[\]-]{8,25}$'>

								<a class="iconsettings"
									[ngStyle]="{'margin-right': f.submitted && isPasswordInValid(password) ? '30px' : '10px'}"
									(click)="showit=!showit"><i class="fa"
										[ngClass]="showit ? 'fa-eye-slash' : 'fa-eye'"></i></a>
								
								<div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
									<div *ngIf="password.errors.required"><i class="fa fa-info-circle fa-errorIcon"
											aria-hidden="true" tooltip="Password is required.">
										</i>
									</div>
									<div *ngIf="password.errors.minlength"><i class="fa fa-info-circle fa-errorIcon"
											aria-hidden="true" tooltip="Minimum 8 characters.">
										</i>
									</div>
									<div *ngIf="password.errors.pattern"><i class="fa fa-info-circle fa-errorIcon"
											aria-hidden="true"
											tooltip="Minimum 8 characters and follow a combination of letter and numbers, Atleast one small character and one capital.">
										</i>
									</div>
								</div>

								<label class="mt-1" for="exampleInputEmail1">Confirm Password</label>
								<input [type]="showit ? 'text' : 'password'" class="mb-1 form-control"
									aria-describedby="emailHelp" autocomplete="off" required name="confirm"
									#confirm="ngModel" (input)="matchstrings()" [(ngModel)]="formData.confirmPassword"
									minlength="8" maxlength="50" placeholder="*******"
									[ngClass]="{ 'is-invalid': f.submitted && confirm.invalid }">
								<div *ngIf="f.submitted && confirm.invalid" class="invalid-feedback">
									<div *ngIf="confirm.errors.required"><i class="fa fa-info-circle fa-errorIcon"
											aria-hidden="true" tooltip="Confirm Password is required.">
										</i>
									</div>
								</div>

								<div *ngIf="confirmpassnotmatch">
									<i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
										tooltip="Password does not match.">
									</i>
								</div>

								<ng-container *ngIf="createPassword">
									<div class="form-group form-check mt-3">
										<input type="checkbox"  class="form-check-input" name="term_conditions"  
											[(ngModel)]="formData.termConditions" #checkbox="ngModel" required id="exampleCheck1"
											[ngClass]="{ 'is-invalid': f.submitted && checkbox.invalid }">
										<label class="form-check-label marginTop" for="exampleCheck1">
											I agree to the 
											<a (click)="onTermsAndConditions()">
												<span style="color: #800080;">Terms and Conditions</span>
											</a>
										</label>    
										<!-- <div *ngIf="f.submitted && checkbox.invalid" class="invalid-feedback">
											<div class="alert error-alert alert-light customError pl-0" *ngIf="checkbox.errors.required">
											I agree to the Terms and Conditions
											</div>
										</div> -->
									</div>
								</ng-container>

							</div>
							<button [ngStyle]="{'padding' : createPassword ? '8px 30px' : '8px 60px'}" type="submit"
								class="btn btnAddColor mx-auto d-block mt-5">{{createPassword ? 'Save and Activate Account' : 'Submit'}}</button>
							<p *ngIf="!createPassword" class="headingColor mt-3 text-center">
								<a routerLink="../Login" class="forgotLink">Back to Sign In</a>
							</p>
						</form>
					</div>
				</ng-container>

				<ng-container *ngIf="resetPassword === 'secondPage' && !createPassword">
					<div class=" card-body">
						<div class="text-center mt-2 mb-3">
							<img class="logoimg" src="assets/images/login/updated_password_icon.svg">
						</div>
						<h3 class="text-center mt-4 mb-4 signup-login-heading">
							Updated Successfully
						</h3>
						<p class="inputLabelText mb-4 text-center">
							You have successfully reset the password for <br>
							<b>{{formData.userName}}</b>
						</p>

						<div class="text-center mt-2 mb-3">
							<img class="logoimg" [src]="icon">
						</div>

						<button type="submit" class="btn btn-primary btn-properties btnAddColor mx-auto d-block mt-5"
							routerLink="../Login">Go to Sign In</button>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>