.imgsize
{
    width: 36px;
    height: 36px;
    float: left;
}

.btnAddColor{
    color: white !important;
}
@media (min-width: 400px) and (max-width: 786px) {
    .wow-res-header-btns{
        padding-left: 0;
        margin-top: 1rem;
    }
}
