<div class="modal-body ml-3 mr-3">
	<h5 class="text-left mb-5 mt-2">Update Password</h5>
	<form name="from" autocomplete="off" class="formText" name="form" (ngSubmit)="f.form.valid && onSubmit(f)"
		#f="ngForm">
		<div class="form-group">
			<label for="password" class="float-left">Current Password</label>
			<input [type]="showit ? 'text' : 'password'" id="mypassword" class="form-control" id="exampleInputEmail1"
				aria-describedby="emailHelp" autocomplete="off" name="currPass" [(ngModel)]="payload.oldPassword"
				#currPass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && currPass.invalid }" required
				placeholder="Current Password">
			<a class="iconsettings"
				[ngStyle]="{'margin-right': (f.submitted && currPass.invalid) || invalidPass ? '30px' : '10px'}"
				(click)="showit=!showit"><i class="fa" [ngClass]="showit ? 'fa-eye-slash' : 'fa-eye'"></i></a>
			<div *ngIf="f.submitted && currPass.invalid" class="invalid-feedback">
				<div *ngIf="currPass.errors.required"><i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
						tooltip="Current Password is required.">
					</i>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="float-left mt-2">New Password<img
					class=" infoIcon ml-1 tooltipIconSize tooltipstylePurple" tooltip="Password must be at least 8 characters with at least 1 Uppercase alphabet, 1 lowercase alphabet , and 1 number.
                " src="assets/images/shared-new-theme/info-tooltip-icon.svg"> </label>
			<input
			[type]="showNew ? 'text' : 'password'"
			class="form-control" id="exampleInputEmail1"
			minlength="8"
			(input)="matchstrings()"
			aria-describedby="emailHelp"
			autocomplete="off"
			name="newPass"
			[(ngModel)]="payload.password"
			#newPass="ngModel"
			[ngClass]="{ 'is-invalid': f.submitted && newPass.invalid }"
			required
			pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[\w~@#$%^&*+=`|{}:;!.?\"()\[\]-]{8,25}$'
			placeholder="New Password">

			<a class="iconsettings"
				[ngStyle]="{'margin-right': (f.submitted && newPass.invalid) || invalidPass ? '30px' : '10px'}"
				(click)="showNew=!showNew"><i class="fa" [ngClass]="showNew ? 'fa-eye-slash' : 'fa-eye'"></i></a>
			<div *ngIf="f.submitted && newPass.invalid" class="invalid-feedback">
				<div *ngIf="newPass.errors.required"><i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
						tooltip="New Password is required.">
					</i>
				</div>
				<div *ngIf="newPass.errors.minlength"><i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
						tooltip="Minimum 8 characters.">
					</i>
				</div>
				<div *ngIf="newPass.errors.pattern"><i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
						tooltip="Password is invalid.">
					</i>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="float-left mt-2">Confirm Password</label>
			<input
			[type]="showNew ? 'text' : 'password'"
			class="form-control"
			minlength="8"
			(input)="matchstrings()"
			pattern='^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[\w~@#$%^&*+=`|{}:;!.?\"()\[\]-]{8,25}$'
			aria-describedby="emailHelp"
			autocomplete="off"
			name="confPass"
			[(ngModel)]="payload.confirmPassword"
			#confPass="ngModel"
			[ngClass]="{ 'is-invalid': f.submitted && confPass.invalid }"
			required
			placeholder="Confirm Password">

			<div *ngIf="f.submitted && confPass.invalid" class="invalid-feedback">
				<div *ngIf="confPass.errors.required"><i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
						tooltip="Confirm Password is required.">
					</i>
				</div>
				<div *ngIf="confPass.errors.minlength"><i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
						tooltip="Minimum 8 characters.">
					</i>
				</div>
				<div *ngIf="confPass.errors.pattern"><i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
						tooltip="Password is invalid.">
					</i>
				</div>
			</div>
			<div *ngIf="confirmpassnotmatch">
				<i class="fa fa-info-circle fa-errorIcon" aria-hidden="true"
					tooltip="Password does not match.">
				</i>
			</div>
		</div>
		<div class="col text-center mt-5 mb-5">
			<button type="button" class="btn  btn-space btn-properties-white " (click)="onCancelBtn()">Cancel</button>
			<button type="submit" class="btn  btn-properties pl-4 pr-4 modal-submit-btn">Save</button>
		</div>
	</form>
</div>
