
html, body {
    font-family: 'Poppins';
  }
  input {
    font-size: 1em;
    height: 36.8125px !important;
    border-radius: 6px;
    /* width: 150px; */
  }
  .formText
{
    color: #575757;
    font-size: 13px;
    font-weight: 500;
}
.form-control::-webkit-input-placeholder {
  color: #707070B3;
  font-size: 13px;
}
.modal-submit-btn{
  width:121.9px;
  margin-top: 0px !important;
}
// .iconsettings{
//   position: relative;
//   float: right;
//   margin-top: -30px;
//   /* margin-right: 27px; */
// }
