@media (min-width: 400px) and (max-width: 786px) {

    .wow-res-btn{
        display: flex;
        text-align: left;
        padding-left: 0;
    }
}
// .tblcolorDivRed
// {
//     width: 3px;
//     height: 29px;
//     border-radius: 1px;
//     opacity: 1;
//  }